{{ define "main" }}
<section class="section services py-5">
<div class="container">
  <div class="row justify-content-center pb-5">
    <div class="col-12 col-xl-6">
      <!--<h2 class="display-1 fw-bold text-center text-primary pb-3">Executive Committee</h2>-->
      <h2 class="fs-1 fw-bold text-center text-primary pb-3">Executive Committee</h2>
      <p class="text-black-61 text-center pb-3">Stay tuned for more details…</p>
    </div>
  </div>
</div>
</section>

<!--
{{ range .Site.Data.home.executive.list}}
<section class="section services py-5">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-12 col-xl-6">
        <h5>{{ .title }}</h5>
        <ol>
          {{ range .cards}}
          <li>{{ .title}}</li>
          {{ end }}
        </ol>
      </div>
    </div>
  </div>
</section>
{{ end }}-->
{{ end }}
