{{ define "main" }} 

{{ with .Site.Data.home.executive }}
<section class="section services py-5">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-12 col-xl-6">
        {{ with .content.title }}
          <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
        {{ end }}
        {{ with .content.text }}
          <p class="text-black-61 text-center pb-3">{{ . }}</p>
        {{ end }}
      </div>
    </div>
    <div class="row g-5">
      <ul class="">
      {{ range .content.cards }}
        <li>{{ with .title }}<p class="card-text text-black-61 pb-4">{{ . }}Test</p>{{ end }}</li>
      {{ end }}
      </ul>
    </div>
  </div>
</section>

{{ end }}  


{{ end }}
